/* *{
    background-color: #f4f1da;
} */

.cont{
    display: flex;
    align-items: center; /* En lugar de align-content */
    justify-content: center;
    
}

/* BOTONEEEES */

.butt {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.butt::after,
.butt::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.butt::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.butt::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.butt:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.butt:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.butt:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


/* de aqui para el posicionamiento */

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .botones-container {
    display: flex;
    flex-direction: row; /* Conserva la disposición vertical de los botones */
    align-items: center;
  }
  
  .butt {
    margin: 5px;
    /* Otros estilos para tus botones */
  }
  

  .puertas{
    width: 350px;
    height: 500px;
  }

  .tit{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }